dagster
dagster-webserver
dagit
dagster-cloud
dagster-duckdb
dagster-dbt
dagster-postgres
dagster-docker
dbt-duckdb
dagster-embedded-elt
dagster-duckdb-pandas
geopandas
pkgconf
pandas==2.2.3
shapely
matplotlib
smart_open[s3]
s3fs
smart_open
aiohttp
asyncio
dagster-polars
tenacity
SQLAlchemy==2.0.41
pyarrow
boto3
setuptools
