dagster
dagster-webserver
dagit
dagster-cloud
dagster-duckdb
dagster-dbt
dagster-postgres
dagster-docker
dbt-duckdb
dagster-embedded-elt
dagster-polars
dagster_duckdb_polars
dagster_aws
geopandas
pkgconf
pandas==2.2.3
shapely
matplotlib
smart_open[s3]
s3fs
aiohttp
asyncio
dagster-polars
tenacity
SQLAlchemy==2.0.41
pyarrow
boto3
setuptools
